
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;700&display=swap');

* {
  padding: 0px;
  margin: 0px;
  background-color: #131313;
  font-family: 'Inter', sans-serif;
}
.spotify-dashboard {
  display: flex;
}
.side-nav {
  width: 350px;
  height: 550px;
  background-color: black;
}
.main {
  width: 1200px;
  left: 371px;
  background-image: linear-gradient(#1d1d1d, #131313);
  height: 550px;
  color: white;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  margin:10px;
  border-radius: 20px;
  
}
.play-music {
  top: 565px;
  position: absolute;
  width: 1263px;
  height: 72px;
  border-width: 0px, 0px, 0px, 0px;
  border-style: solid;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
}
.footer {
  width: 1263px;
  height: 24px;
  background-color: #1ed760;
  display: flex;
  position: absolute;
  top: 625px;
  flex-wrap: wrap;
}
.side-nav {
  background-color: #131313;
}
.logo {
  margin: 20px;
}
/* .section-1{
   display: flex;
   flex-direction:row ;
   justify-content: start;
   align-items: center;
   flex-wrap:wrap;
}   */
.section-1 {
  line-height: 20px;
}
.home {
  margin: 0px 25px 0px 22px;
  padding: 4px 2px 0px 10px;
  display: flex;
  justify-content: start;
  color: white;
}
.home:hover > img {
  background-color: #282828;
}
.home:hover > p {
  background-color: #282828;
  text-decoration: none;
}
.home:hover {
  background-color: #282828;
  border-radius: 10px;
}

.home > img {
  margin-right: 40px;
}
.search {
  margin: 2px 25px 0px 22px;
  padding: 5px 2px 0px 10px;
  display: flex;
  justify-content: start;
  color: white;
}

.search > img {
  margin-right: 40px;
}
.search:hover > img {
  background-color: #282828;
}
.search:hover > p {
  background-color: #282828;
}
.search:hover {
  background-color: #282828;
  border-radius: 10px;
}
.lib {
  margin: 2px 25px 0px 22px;
  padding: 5px 2px 0px 10px;
  display: flex;
  justify-content: start;
  color: white;
}
.lib > img {
  margin-right: 40px;
}
.lib:hover > img {
  background-color: #282828;
}
.lib:hover > p {
  background-color: #282828;
}
.lib:hover {
  background-color: #282828;
  border-radius: 10px;
}

/* second grp i.e section-2 */
.section-2 {
  margin-top: 20px;
  line-height: 20px;
}
.playlist {
  margin: 2px 25px 0px 22px;
  padding: 5px 2px 0px 10px;
  display: flex;
  justify-content: start;
  color: white;
}
.playlist:hover > img {
  background-color: #282828;
   background-color: white; 
}
.playlist:hover > p {
  background-color: #282828;
  text-decoration: none;
}
.playlist:hover {
  background-color: #282828;
  border-radius: 10px;
}

.playlist > img {
  margin-right: 40px;
  background-color: white;
}
.liked-songs {
  margin: 2px 25px 0px 22px;
  padding: 5px 2px 0px 10px;
  display: flex;
  justify-content: start;
  color: white;
}

.liked-songs > img {
  margin-right: 40px;
}
.liked-songs:hover > img {
  background-color: #282828;
  background-color: white;
  color: white;
}
.liked-songs:hover > p {
  background-color: #282828;
}
.liked-songs:hover {
  background-color: #282828;
  border-radius: 10px;
}
.epi {
  margin: 2px 25px 0px 22px;
  padding: 5px 2px 0px 10px;
  display: flex;
  justify-content: start;
  color: white;
}
.epi > img {
  margin-right: 40px;
}
.epi:hover > img {
  background-color: #282828;
}
.epi:hover > p {
  background-color: #282828;
}
.epi:hover {
  background-color: #282828;
  border-radius: 10px;
}
/* third grp i.e section-3 */
.section-3 {
  color: white;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 15px;
}
.section-3 > ul > li {
  list-style-type: none;
  line-height: 25px !important;
}
/* install section */
.install {
  position: absolute;
  top: 535px;
  left: 25px;
  display: flex;
  /* align-items: center;  */
  display: flex;
  color: white;
  font-size: 15px;
}
.install > img {
  margin-right: 150px;
}
.sec-1 {
  display: flex;
  align-items: center;
  color: white;
  padding: 10px;
  background-color: #282828;
  width: 250px;
}
.sec-1 > img {
  margin-right: 20px;
}
.dreamp {
  background-color: #282828;
  font-size: 15px;
  font-weight: 600;
}

.footer-para {
  background-color: #1ed760;
  margin-right: 50px;
  position: absolute;
  right: 0px;
  font-weight: 500;
  font-size: 14px;
}
.music {
  position: relative;
  /* display: flex;
    align-items: center;
    justify-content: center; */
  right: 20px;
  border-radius: 5px;
}
.sound {
  position: relative;
  right: 10px;
  top: 15px;
}
.header-main {
  background-color: #1c1c1c;
  display: flex;
  justify-content: space-between; 
    flex-direction: row; 
  align-items: center; 
  
    
}
 .left-circle {
  background-color:  black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top:10px;
  margin-left:-450px;
  cursor: pointer;
} 
.Angel {
  display: flex;
  overflow: hidden;background-color: black;width:95px;height:30px;
  margin-right:-460px;margin-top:10px;border-radius:50px;
}
.Angel > p {
  background-color: black;
  font-size: 13px;
  margin-top: 3px;
  margin-left: 5px;
  font-weight: 500;
  
}
.bi-chevron-left{
   background-color:  black;
   margin-left:5px;
}
.right-circle{
    background-color:  black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top:10px;
    margin-right:720px; 
    cursor: pointer;
}
.bi-chevron-right{
    background-color:  black;
    margin-left:8px;
 }

/* suggestion di */
.recom-songs{
    display: flex;
    width:90%;
    background:none;
    align-items: flex-start;
    margin: 5px;
    flex-wrap: wrap;
}
.rec-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    flex-wrap: wrap;
    flex-direction: row;
    background:none;

}
.song{
    display: flex;
     align-items: center; 
    justify-content: start;
    flex-direction: row;
    width: 250px;
    height: 70px;
    margin:10px;
    background: rgb(48, 48, 48);
    border-radius: 5px;
   
    
}
.psong{
    margin:30px;
    font-weight: 700;
    background: rgb(48, 48, 48);
}
.song:hover{
    border-radius: 10px;;
    transition: all 1s ease;
    color:aqua;
    overflow: hidden;
    background-color: black;;
    box-shadow: 0px 0px 0px 3px rgba(37,207,207,0.75);
    -webkit-box-shadow: 0px 0px 0px 3px rgba(37,207,207,0.75);
    -moz-box-shadow: 0px 0px 0px 3px rgba(37,207,207,0.75);
}
.song:hover > .psong{
    background-color: black;
    transition: all 1s ease;
    color:aqua;
    overflow: hidden;
}
.shows{
    width:95%;
    margin-top:5px ;
    background:none;
    overflow-y: auto;
    overflow-x:hidden; 
}
.shows-header{
     display: flex; 
    margin:5px;
    justify-content: space-between;
    background:none;
   
}
.shows-header>h5{
    font-weight: 800;
    background: none;
    margin-left:20px;
   
}
.shows-header>p{
    background: none;
    font-size: 14px;
    
}
.shows-you-might-like{
    /* width: 90%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content:space-between;
    align-items: center;
    margin-top: 0px;
     /* gap: 15px;
    margin-left: 15px; */
    overflow-y: auto;
    border-radius: 10px;
}
.showcards{
    margin:10px 10px 10px 10px;
}
.showcards>p{
  line-height: 10px;
  font-size: 12px;
}
.showcards>h6{
  font-weight: 700;
  font-size: 15px;
}
.showcards:hover{
  border-radius: 10px;;
  transition: all 1s ease;
  color:aqua;
  overflow: hidden;
  background-color: black;;
  box-shadow: 0px 0px 0px 3px rgba(37,207,207,0.75);
  -webkit-box-shadow: 0px 0px 0px 3px rgba(37,207,207,0.75);
  -moz-box-shadow: 0px 0px 0px 3px rgba(37,207,207,0.75);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; 
}





















