*{
    padding: 0px;
    margin: 0px;
}
.Main{
    display: flex;
    flex:1;
    background-color: black;
    flex-wrap: wr;
}
/* .sidebar{ */
    /* height: 89vh;
    width: 20vw;
    background-color: var(--dark);
    border-radius: 0.5rem;
    padding-left: 20px;
    gap: 10; */
    .sidebar {
      width: 230px;
      height: 585px;
      border-radius: 0px 10px 10px 0px;
      background-color: black;
    }

/* music footer */
.play-music {
   
    /* position: absolute;
    width: 1263px;
    height: 72px;
    border-width: 0px, 0px, 0px, 0px;
    border-style: solid;
    background-color: #282828;
    display: flex;
    justify-content: space-between; */
    height: 11vh;
    width: 100%;
    position: fixed;
    bottom: 0vh;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #282828;
  }
  .dreamp {
    background-color: #282828;
    font-size: 15px;
    font-weight: 600;
  }
  .music {
    position: relative;
    right: 20px;
    border-radius: 5px;
  }
  .sound {
    position: relative;
    right: 10px;
    top: 5px;
  }
  .sec-1 {
    display: flex;
    align-items: center;
    color: white;
    padding: 1px;
    background-color: #282828;
    width: 250px;
  }
  .sec-1 > img {
    margin-right: 20px;
  }
  /* sidebar */
  .logo {
    margin: 10px;
  }
  .home {
    margin: 0px 25px 0px 12px;
    padding: 4px 2px 0px 10px;
    display: flex;
    justify-content: start;
    color: white;
  }
  .home:hover > img {
    background-color: #282828;
  }
  .home:hover > p {
    background-color: #282828;
    text-decoration: none;
  }
  .home:hover {
    background-color: #282828;
    border-radius: 10px;
  }
  
  .home > img {
    margin-right: 40px;
  }
  .search {
    margin: 2px 25px 0px 12px;
    padding: 5px 2px 0px 10px;
    display: flex;
    justify-content: start;
    color: white;
  }
  
  .search > img {
    margin-right: 40px;
  }
  .search:hover > img {
    background-color: #282828;
  }
  .search:hover > p {
    background-color: #282828;
  }
  .search:hover {
    background-color: #282828;
    border-radius: 10px;
  }
  .lib {
    margin: 2px 25px 0px 12px;
    padding: 5px 2px 0px 10px;
    display: flex;
    justify-content: start;
    color: white;
  }
  .lib > img {
    margin-right: 40px;
  }
  .lib:hover > img {
    background-color: #282828;
  }
  .lib:hover > p {
    background-color: #282828;
  }
  .lib:hover {
    background-color: #282828;
    border-radius: 10px;
  }
  .section-2 {
    margin-top: 0px;
    line-height: 20px;
  }
  .section-2>p{
    color:white;
    margin-left:20px;
    font-size: 15px;
    margin-top:5px;
  }
  .playlist {
    margin: 2px 25px 0px 12px;
    padding: 5px 2px 0px 10px;
    display: flex;
    justify-content: start;
    color: white;
  }
  .playlist:hover > img {
    background-color: #282828;
     background-color: white; 
  }
  .playlist:hover > p {
    background-color: #282828;
    text-decoration: none;
  }
  .playlist:hover {
    background-color: #282828;
    border-radius: 10px;
  }
  
  .playlist > img {
    margin-right: 40px;
    background-color: white;
  }
  .liked-songs {
    margin: 2px 25px 0px 12px;
    padding: 5px 2px 0px 10px;
    display: flex;
    justify-content: start;
    color: white;
  }
  
  .liked-songs > img {
    margin-right: 40px;
  }
  .liked-songs:hover > img {
    background-color: #282828;
    background-color: white;
    color: white;
  }
  .liked-songs:hover > p {
    background-color: #282828;
  }
  .liked-songs:hover {
    background-color: #282828;
    border-radius: 10px;
  }  
  .hr{
    background-color:grey;
    width:180px;
    margin-left:20px;
    margin-top:5px;
  }
  .art>img{
    margin-top: 20px;
  }
  /* mainscreen */
.mainpage{
  overflow-y: auto;
  height: 100vh;
  width: 100%;
}
  .Pop-Right-Now{
     width:100%;
    height:40%; 
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    color:white;
    background-color: #86A29B #3B4845; 
    background-image: linear-gradient(#86A29B, #3B4845); 
    justify-content: flex-start;
  }
  .Pop-Right-Now>img{
    margin-top:40px;
    display: flex;
    flex-wrap:wrap;
  }
  .pop-txt>p{
    font-size: 14px;
    display: flex;
    flex-wrap:wrap;
  }
  .pop-txt>h1{
    font-size:50px;font-weight: 700;
    display: flex;
    flex-wrap:wrap;
  }
  .pop-play{
    margin-top:60px;font-weight: 500;font-size: 14px;
  }
   .list-of-songs{
      background-image: linear-gradient(#2D3634,#191D1C);
      width:100%;
      display: flex;
      align-items: center;
     
  } 
  .list-play{
    margin-left:20px;
    margin-top:15px;
    width:40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom:20px;
  }
  .bi-suit-heart{
    color:white;
    margin-left:30px;
    width:45px;
    cursor: pointer; /* Change cursor on hover */
    transition: all 0.3s ease;
  }
  .bi-suit-heart:hover{
    fill: red;   
  }
  .dots{
    
    margin-left:30px;
    font-weight:700;
  }
  .SongsLists{
    margin-block:20px;
    color:white;
    
  }
  .header-of-songlist{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: start;
    margin-left:20px;
    margin-top:10px;
    color:white;
    font-size: 14px;
    
  }
  .body-of-songlist{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:20px;
    
  }
  .body-of-songlist:hover{
      background-color: #222524;
      border-radius:5px;
      
  }
  .poster-shown{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:5px;
  }
  .singer{
    line-height: 0.2px;
  }
  .singer>h6{
    font-size: 14px;
    font-weight: 600;
  }
  .singer>p{
    font-size: 12px;
  }
  .album-shown2{
    font-size: 14px;
  }
  .date-shown{
    font-size: 14px;
  }
  .time-shown{
    font-size: 14px;
  }
  /* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; 
}